<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{meta_title}}</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-img/logo-precomposed" href="/otter-pop/img/logo.jpg">
    <link rel="apple-touch-img/logo" href="/otter-pop/img/logo.jpg">
    <link rel="apple-touch-img/logo" sizes="72x72" href="/otter-pop/img/logo.jpg">
    <link rel="apple-touch-img/logo" sizes="114x114" href="/otter-pop/img/logo.jpg">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/screen.css" rel="stylesheet" type="text/css">

    <link href="img/logo.jpg" rel="shortcut icon">
</head>
<body>

<body class="{{body_class}}">
    <div class="sidebar">
   <!--  <header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div id="site-head-content" class="inner">
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
    </div>
</header>     -->
    {{#if @blog.logo}}<a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
    <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
    <ul class="nav">
      <div class="nav-inner">
        <li><a href="mailto:mark@bashful.so"><span class="icon email"></span>email</a></li>
        <li><a href="/"><span class="icon doc"></span>blog</a></li>
        <li><a href="http://ae.linkedin.com/pub/mark-philip-dawal/40/126/89b/"><span class="icon info"></span>linkedin</a></li>
        <li><a href="http://github.com/markphd"><span class="icon github"></span>github</a></li>
        <li><a href="http://twitter.com/forloop_"><span class="icon twitter"></span>twitter</a></li>
        <li><a href="http://stackoverflow.com/users/1166521/markisnil"><span class="icon code"></span>stackoverflow</a></li>
      </div>
    </ul>
  </div>

  {{! Ghost outputs important scripts and data with this tag }} 
  <div class="wrapper">
    {{{body}}}
  </div>

  {{ghost_foot}}
    <script type="text/javascript" src="/assets/js/index.js"></script>
</body>
  